.music__button
  cursor: pointer;
  svg g
    transition: all 0.3s ease;
  &:focus
    outline: none;
  &:hover
    svg
      transform: scale(1.1)
      g
        opacity: 0.6;

.tips
  animation: tips-in 3s ease;
  transition: all 1s ease;

.carousel__container
  img
    transition: all 3s ease-in;

.fade__in
  z-index: -1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  animation: fade-in $fade-in--duration ease-in;

@keyframes fade-in
  0%
    background-color: black;
    z-index: 1000;
  99%
    z-index: 1000;
  100%
    background-color: rgba(0,0,0,0.0);

@keyframes tips-in
  0%
    transform: translateX(-50vw);
  100%
    transform: translateX(0);

@keyframes cinematic-left
  0%
    transform: translateX($cinematic__left--X-start) translateY($cinematic__left--Y-start) scale(1.1);
  100%
    transform: translateX($cinematic__left--X-end) translateY($cinematic__left--Y-end) scale($cinematic__left--scale-to);

@keyframes cinematic-right
  0%
    transform: translateX($cinematic__right--X-start) translateY($cinematic__right--Y-start) scale(1.1)
  100%
    transform: translateX($cinematic__right--X-end) translateY($cinematic__right--Y-end) scale($cinematic__right--scale-to);

@keyframes cinematic-up
  0%
    transform: translateX($cinematic__up--X-start) translateY($cinematic__up--Y-start) scale(1.1)
  100%
    transform: translateX($cinematic__up--X-end) translateY($cinematic__up--Y-end) scale($cinematic__up--scale-to);

@keyframes cinematic-down
  0%
    transform: translateX($cinematic__down--X-start) translateY($cinematic__down--Y-start) scale(1.1)
  100%
    transform: translateX($cinematic__down--X-end) translateY($cinematic__down--Y-end) scale($cinematic__down--scale-to);