@font-face
  font-family: "ChaletLondon";
  src: url("../../public/fonts/ChaletLondon.ttf")

$cursor__main--size: 2rem;
$font--family: "ChaletLondon";
$logo--y__offset: -1vh;
$bottom__bar--height: 20vh;
$divider--color: rgba(255,255,255,0.6);
$font--size: 16px;
$heading--color: white;
$heading--size: 54px;
$music__button--right__offset: 2.6vw;
$progress__bar--bg: rgba(70, 70, 70, 0.6);
$progress__bar--color: #F5F7FF;
$progress__bar--height: 7px;
$progress__bar--width: 92vw;
$rule__number--size: 18px;
$rules--bg-color: rgba(0, 0, 0, 0.8);
$rules--color: #C4C4C4;
$rules--y__position: 33.333vh;
$rules--x__position: 0;
$rules--max-width: 26vw;
$tips--color: #C7CAD9;
$tips--size: $font--size;
$top__bar--height: 90px;
// animations
$fade-in--duration: 8s;
$cinematic__duration: 28s;
$cinematic__left--scale-to: 0.9;
$cinematic__left--X-start: -3vw;
$cinematic__left--Y-start: -3vh;
$cinematic__left--X-end: 2vw;
$cinematic__left--Y-end: 8vh;
$cinematic__right--scale-to: 0.9;
$cinematic__right--X-start: 6vw;
$cinematic__right--Y-start: 3vh;
$cinematic__right--X-end: -6vw;
$cinematic__right--Y-end: -4vh;
$cinematic__up--scale-to: 0.8;
$cinematic__up--X-start: 0vw;
$cinematic__up--Y-start: 0vh;
$cinematic__up--X-end: 5vw;
$cinematic__up--Y-end: 10vh;
$cinematic__down--scale-to: 0.8;
$cinematic__down--X-start: 6vw;
$cinematic__down--Y-start: 9vh;
$cinematic__down--X-end: 6vw;
$cinematic__down--Y-end: -10vh;